<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="http://www.xmtyet.com/img/favicon.ico" />
        <title>SampleTitle</title>
        <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
        <script src="{{url_for('sample_bp.static', filename='sample.js')}}"></script>
    </head>

<body>
    <div style="text-align: center;">
        <h1>This is a sample html</h1>
        <p id="nowTime"></p>
    </div>

</body>

</html>
